# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example
docker-compose.dev.yaml

# Next.js
.next/
out/

# prisma
backend/src/generated

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/
